* {
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 18px;
}

.highscore {
    border: none;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.timeleft {
    float: right;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}